.bio {
    border-top: 1px solid black;
    display: grid;
    font-size: 0.9em;
    padding: 0px 200px;
}

.bio > p {
    color: #606060;
    font-family: "Libre Baskerville", serif;
    line-height: 1.3;
    word-wrap: break-word;
}

.bio > h2 > a {
    color: #606060;
    text-decoration: none;
}

.bio > h2 > a:hover {
    color: #b83020;
    text-decoration: underline;
}