.header {
    border-bottom: 1px solid black;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 3em;
    margin-bottom: 7px;
    padding: 60px 0px 40px 0px;
    text-align: center;
}

#subtitle {
    font-size: 0.3em;
    height: auto;
}

#subtitle > a {
    color: #606060;
    text-decoration: underline;
}

#subtitle > #resume:hover {
    color: #000080;
    text-decoration: none;
}

#subtitle > #github:hover {
    color: #6e5494;
    text-decoration: none;
}

#subtitle > #twitter:hover {
    color: #1da1f2;
    text-decoration: none;
}