#lists {
    border-top: 1px solid black;
    padding: 20px;
}

#lists > ul {
    line-height: 1.3;
    margin: 0px;
    padding: 0px;
}

#lists > ul > h2 {
    margin: 0px;
    padding: 0px;
}

#list {
    font-family: "Libre Baskerville", serif;
    border-top: 1px solid black;
}