body {
    color: #141414;
    font-family: 'Libre Franklin', serif;
    font-size: 1em;
    margin: auto;
    width: 900px;
    overflow-y: scroll;
}

.entry {
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 70px 1fr;
    margin-bottom: 40px;
    padding: 0px 20px 0px 20px;
    position: relative;
    width: 860px;
}

.title > h2{
    font-weight: bold;
    font-size: 1.6em;
    text-align: left;
    margin: 0px;
    padding: 19px 0px;
}

.date > h3{
    font-weight: bold;
    font-size: 0.9em;
    text-align: right;
    margin: 0px;
    padding: 26px 0px;
}

.description {
    font-family: 'Libre Baskerville', serif;
    line-height: 1.5;
}

.description > .statement > h3 {
    margin: 0px;
}

.statement {
    margin-bottom: 25px;
}

.statement > p {
    color: #474747;
    font-size: 0.8em;
}

.comment {
    color: black;
    font-size: 0.8em;
    margin-bottom: 25px;
    padding-left: 25px;
    position: relative;
}

.arrow {
    display: block;
    left: 0px;
    position: absolute;
    top: 4px;
}

.links {
    padding-left: 25px;
    font-size: 0.8em;
}

.links > ul > li > a {
    color: #606060;
    text-decoration: underline;
}

.links > ul > li > a:hover {
    color: #b83020;
    text-decoration: none;
}

.links > ul {
    list-style-type: none;
    padding: 0px;
}

.media {
    padding-top: 5px;
    text-align: right;
}

.media > img {
    height: auto;
    width: 250px;
}
